.container {
    display: grid;
    width: 750px;
    height: 600px;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
    grid-gap: 1rem;
}
h1{
    text-align:center;
    margin:3%;
    color:white
}
.header {
    grid-row: 1/2;
    grid-column: 1/4;
}

.sidebar {
    grid-row: 2/4;
    grid-column: 1/2;
}

.content-1 {
    grid-row: 2/3;
    grid-column: 2/4;
}

.content-2 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.content-3 {
    grid-row: 3/4;
    grid-column: 3/4;
}

.footer {
    grid-row: 4/5;
    grid-column: 1/4;
}


/* OTHER STYLES */

body {
    padding: 200px;
    background-color: #3b404e;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.item {
    background-color: #7a033f;
    background-image: linear-gradient(130deg, #4b0436 0%, #ec6fb4 85%, #095e59 100%);
    box-shadow: 0 10px 20px rgba(13, 1, 63, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #ffffff;
    border-radius: 4px;
    border: 6px solid #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.header {
    background-color: #85c1e4;
    background-image: linear-gradient(160deg, #7e61f1 0%, #150a44 127%);
}

.sidebar {
    background-image: linear-gradient(203deg, #10b1a9 0%, #004e4a 90%);
}

.content-1,
.content-2,
.content-3 {
    background-image: linear-gradient(130deg, #8770e2 0%, #095c8b 85%, #044642 100%);
}

.footer {
    background-color: #6C52D9;
    background-image: linear-gradient(160deg, #9c93c4 0%, #2808b8 127%);
}
